.grid {
  position: relative;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
  }

  .placed {
    opacity: 1;
  }
  
  .filled {
    opacity: .5;
  }
}